body {
	container: body / inline-size;
	flex-direction: column;
}

.sign-in-form-desktop1 .sign-in-form-desktop-circle {
	top: 0; left: 1px; 
}

.sign-in-form-desktop1 .sign-in-form-desktop-text {
	color: var(--black-900-1a1a1a);
}
